html, body {
  margin: 0;
  padding: 20px;
  height: 100%;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: #FFF5BD; /*beige*/
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


/*table related*/
td  {
  height: 1.6em;
  width: 1.6em;

  border: #9B111E solid 4px; /*dark red*/
  text-align: center;
  font-size: 50px;
  font-family: cursive;
}

td:hover{
  background-color: #FFE9A1; /*beige*/
}

table {
  border-collapse: collapse;
}

/*removing the outside borders*/
tr:nth-child(1) td{
  border-top: none;
}
tr:nth-child(3) td{
  border-bottom: none;
}
td:nth-child(1){
  border-left: none;
}
td:nth-child(3){
  border-right: none;
}


/*text related*/
h1{
  font-family: system-ui;
  color: #9B111E; /*dark red*/
}

h2{
  font-family: system-ui;
  color: #9B111E; /*dark red*/
}


/*congrats text*/
aside h2{
  visibility: visible;
}


/*button settings*/
aside{
  text-align: center;
}

button{
  background-color: #9B111E; /*dark red*/
  color: white;
  border-radius: 10px;
  padding: 10px;
}

/*x and o*/
.xsquare{
  color: red;
}

.osquare{
  color: blue;
}